# gradle

.gradle/
build/
.output/
out/
classes/
run/
remappedSrc/
fabric/run/
neoforge/run/
debug.log

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

.legacy-code